<form>
  <nb-card class="login__component" [nbSpinner]="loaderService.loadRef.login" nbSpinnerStatus="primary">
    <nb-card-header>
      <div class="login__header">
        <span>Đăng nhập</span>
        <img src="assets/svg/close.svg" alt="" (click)="closeModal()">
      </div>
    </nb-card-header>
    <nb-card-body class="login__body">
      <label for="userid">Tên tài khoản:</label>
      <input type="text" nbInput [(ngModel)]="loginPayload.userid" name="userid" shape="round" status="primary" fullWidth placeholder="Username">
      <label for="user_pass">Mật khẩu:</label>
      <input type="password" nbInput [(ngModel)]="loginPayload.user_pass" name="user_pass" shape="round" status="primary" fullWidth placeholder="Password">
    </nb-card-body>
    <nb-card-footer class="login__footer">
      <div class="login__more">
        <a [routerLink]="['register']" (click)="closeModal()">Đăng ký tài khoản</a>
        <a [routerLink]="" (click)="openModal(resetPasswordModal)">Quên mật khẩu</a>
      </div>
      <button type="submit" nbButton status="primary" shape="semi-round" (click)="onLogin()">Đăng nhập</button>
    </nb-card-footer>
  </nb-card>
</form>

<ng-template #resetPasswordModal let-modal>
  <app-resetpw [openingModal]="openingModal"></app-resetpw>
</ng-template>